<h2>Advanced Setup Configuration</h2>
<div class="background">
    <div class="container" routerLink="/second" style="cursor: pointer;">
        <h2 id="top-title">Express</h2>
        <p> A streamlined experience; no technical knowledge needed. Automatically generates everything you need</p>
        <h3>Recommended</h3>
    </div>

<div class="container" routerLink="/AdvForm" style="cursor: pointer;">
    <h2 id="top-title">Advanced</h2>
    <p>Manually input all of the data</p>
    <h3>For devs</h3>
</div>
</div>
